.menu-button {
    width: 40vw;
    margin: 5%;
    font-size: 1.5rem;
    background-color: yellow;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: darken(yellow, 10%);
    }
}